.jumbotron {
    background-color:lightblue;
}

/* .wrapper {
    background-color:lightblue;
} */

body {
   
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
    /* background-position: 50% horizontally; */
    padding: 70px;
}


.deleteNote {
	display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 8px 0px;
}